<div class="voting" (click)="toggleDetails($event)">
    <div class="">

        <ul class="list-inline" style="float: left;" *ngIf="showDetails">
            <li class="list-inline-item" *ngFor="let star of stars" (click)="vote(star)">
                <i [ngClass]="{
                            'icon-Outline': star.isSelected != true,
                            'icon-Full': star.isSelected == true}">
                    </i>
            </li>
        </ul>
        
        <i class="icon-Full" *ngIf="!showDetails"></i>
        <span class="votes">{{ formatedMean }} / {{ stars.length }}</span>
        <span class="number-votes">{{ numberOfVotes }} </span>
    </div>
</div>