<div class="col-xs-12 beach">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline map-info">
                <li class="list-inline-item">
                    <i class="icon icon-Walk"></i>
                    <span *ngIf="beach.matrix.WALKING.distance" [innerHTML]="beach.matrix.WALKING.duration.text"></span>
                </li>
                <li class="list-inline-item">
                    <i class="icon icon-Bike"></i>
                    <span *ngIf="beach.matrix.BICYCLING.distance" [innerHTML]="beach.matrix.BICYCLING.duration.text"></span>
                </li>
                <li class="list-inline-item">
                    <i class="icon icon-Bus"></i>
                    <span *ngIf="beach.matrix.TRANSIT.distance" [innerHTML]="beach.matrix.TRANSIT.duration.text"></span>
                </li>
                <li class="list-inline-item">
                    <i class="icon icon-Drive"></i>
                    <span *ngIf="beach.matrix.DRIVING.distance" [innerHTML]="beach.matrix.DRIVING.duration.text"></span></li>
            </ul>
        </div>

        <div class="col-xs-7 col-sx-9" (click)="toggleDetails()">
            <h2 style="cursor:pointer">{{ beach.BWName }}</h2>
        </div>
        <div class="col-xs-5 col-sx-3" (click)="toggleDetails()">
            <weather-details [location]="beach"></weather-details>
        </div>

        <div class="col-xs-12">
        <ul class="list-inline water-info">
            <li class="list-inline-item">Water quality: Excellent</li>
            <li class="list-inline-item"><i class="icon icon-BathTemp"></i> {{ beach.waterTemperature }}&#8451;</li>
            <li class="list-inline-item">  <beach-voting [beach]="beach"></beach-voting></li>
        </ul>
        </div>
    </div>

    <div *ngIf="showDetails">
        <p>See whats going on at <span class="beach-name">{{ beach.BWName }}</span>.</p>
        <div class="row">
            <div class="col-xs-12">
                <insta-beach [beach]="beach"></insta-beach>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-default direction-link" href="https://www.google.se/maps/dir/{{location.coords.latitude}},{{location.coords.longitude}}/{{beach.Latitude_BW}},{{beach.Longitude_BW}}">
                    <span><img src="https://upload.wikimedia.org/wikipedia/en/1/19/Google_Maps_Icon.png" /></span>
                    <span class="direction-link-content">Get directions on Google Maps</span>
                    <span class="arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-default direction-link" href="https://www.waze.com/sv/livemap?zoom=15&lat={{location.coords.latitude}}&lon={{location.coords.longitude}}&from_lat={{location.coords.latitude}}&from_lon={{location.coords.longitude}}&to_lat={{beach.Latitude_BW}}&to_lon={{beach.Longitude_BW}}&at_req=0&at_text=Now">
                    <span><img src="https://assets.brandfolder.com/ezvnd8rv/view.png" /></span>
                    <span class="direction-link-content">Get directions on Waze</span>
                    <span class="arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>