
.beach {
    position: relative;
    padding: 2px 10px;
   
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 7px;
}

.beach p {
    margin-top: 10px;
    margin-bottom: 0;
}
.water-info,
.map-info {
    opacity: 0.5;    
    margin-bottom: 0;
}

.water-info li:not(:first-child),
.map-info li {
    padding: 0 5px;
    border-right: 1px dotted #ddd;
    margin-right: 0;
}

.water-info li:last-child,
.map-info li:last-child {
    border: 0;
}

.water-info .icon,
.map-info .icon {
    font-size: 24px;
}

.water-info {
}

.water-info .icon-BathTemp {
    padding-left: 10px;
}
/* icons are to high up, probably because the icon-Walk is talk */
.icon-Bus,
.icon-Drive,
.icon-Bike {
    display: inline-block;
    margin-top: 5px;
}

h2 {
    clear: left;
    color: rgb(41,171,225);	
    font-size: 48px;
    text-transform: capitalize;
    white-space: nowrap;
    margin-top: 10px;
}

.beach-name {
    text-transform: capitalize;
}

.insta-item img {
    width: 60px;
    height:60px;
}

@media (max-width:799px) {
    
    h2 {
        font-size: 24px;    
    }
    .water-info,
    .map-info {
        font-size: 70%;
    }
    .water-info .icon,
    .map-info .icon {
        font-size: 16px;
    }
}