
.beach {
    position: relative;
    padding: 2px 10px;
    height: 150px;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 7px;
}

.water-info,
.map-info {
    opacity: 0.5;    
}

.water-info li,
.map-info li {
    padding: 0 10px;
    border-right: 1px dotted #726057;
}

.water-info li:last-child,
.map-info li:last-child {
    border: 0;
}

.water-info .icon,
.map-info .icon {
    font-size: 24px;
}

.water-info {
    position: absolute;
    left: 5px;
    bottom:0;
    margin-bottom: 0;
}

.water-info .icon-BathTemp {
    padding-left: 10px;
}
/* icons are to high up, probably because the icon-Walk is talk */
.icon-Bus,
.icon-Drive,
.icon-Bike {
    display: inline-block;
    margin-top: 5px;
}

h2 {
    clear: left;
    color: rgb(41,171,225);	
    font-size: 48px;
    text-transform: capitalize;
    white-space: nowrap;
    
}

@media (max-width:799px) {
    
    h2 {
        font-size: 24px;    
    }
    .map-info {
        font-size: 80%;
    }
}